<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StochasticsGenerator.cs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StochasticsGenerator.cs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <StochasticsGenerator.cs.Properties.Settings>
            <setting name="LookbackPeriod" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="SlowKperiod" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Dperiod" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LastTableName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastServerName" serializeAs="String">
                <value>127.0.0.1:3303</value>
            </setting>
            <setting name="LastDBname" serializeAs="String">
                <value />
            </setting>
        </StochasticsGenerator.cs.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <StochasticsGenerator.cs.Properties.Settings>
            <setting name="UID" serializeAs="String">
                <value>ForexUser</value>
            </setting>
            <setting name="PWD" serializeAs="String">
                <value>MakeSomeMoney</value>
            </setting>
            <setting name="ServerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>127.0.0.1:3303</string>
                    </ArrayOfString>
                </value>
            </setting>
        </StochasticsGenerator.cs.Properties.Settings>
    </applicationSettings>
</configuration>
