<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Forex_test_data_generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Forex_test_data_generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Forex_test_data_generator.Properties.Settings>
            <setting name="InputFolderPath" serializeAs="String">
                <value>D:\Documents and User Files\ANN stuff\Forex Price History files</value>
            </setting>
            <setting name="OutputFolderPath" serializeAs="String">
                <value>D:\Development\Projects Neural Nets\VS Python ANN projects\PyForex</value>
            </setting>
            <setting name="GenerateCCI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateStoch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateMACD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CCItrend" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="CCIentry" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MACDfast" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MACDslow" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="MACDsignal" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="STOCH_k" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="STOCH_d" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="STOCH_slowing" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ATRperiod" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ScaleTheData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeDates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InclueTimes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OHLCasDeltas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMAsToGen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EMAsToGen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MA1period" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="MA2period" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="MA3period" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="RoCperiod" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AddClasifData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VolitilityPeriod" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GenVolitility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoCchecked" serializeAs="String">
                <value>False</value>
            </setting>
        </Forex_test_data_generator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Forex_test_data_generator.Properties.Settings>
            <setting name="OldestFileDataFirst" serializeAs="String">
                <value>True</value>
            </setting>
        </Forex_test_data_generator.Properties.Settings>
    </applicationSettings>
</configuration>