<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InvestmentApps.ForexMasterDataGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="InvestmentApps.DataGenerators.ForexMasterDataGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InvestmentApps.DataGenerators.ForexMasterDataGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="InvestmentApps.ForexMasterDataGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <InvestmentApps.ForexMasterDataGenerator.Properties.Settings>
            <setting name="LastMSsqlServerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastMSsqlDBname" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastMSsqlTableName" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrendCCIperiod" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="EntryCCIperiod" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="TenkanPeriod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KijunPeriod" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SpanBperiod" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RVI3period" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FastTrixSpan" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SlowTrixSpan" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="LastMySqlServerName" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastMySqlDBname" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastMySqlTableName" serializeAs="String">
                <value/>
            </setting>
            <setting name="MySqlSelected" serializeAs="String">
                <value>True</value>
            </setting>
        </InvestmentApps.ForexMasterDataGenerator.Properties.Settings>
        <InvestmentApps.DataGenerators.ForexMasterDataGenerator.Properties.Settings>
            <setting name="TrendCCIperiod" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="EntryCCIperiod" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="TenkanPeriod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KijunPeriod" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SpanBperiod" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RVI3period" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FastTrixSpan" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SlowTrixSpan" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="LastMySqlServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMySqlDBname" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMySqlTable" serializeAs="String">
                <value />
            </setting>
            <setting name="MySqlSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastMySqlServer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDBname" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTableName" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryCurrencyList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>GBP</string>
                        <string>CHF</string>
                        <string>AUD</string>
                        <string>NZD</string>
                        <string>EUR</string>
                        <string>CAD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StochLookback" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="StochSlowKperiod" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StockDperiod" serializeAs="String">
                <value>3</value>
            </setting>
        </InvestmentApps.DataGenerators.ForexMasterDataGenerator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <InvestmentApps.DataGenerators.ForexMasterDataGenerator.Properties.Settings>
            <setting name="MySqlUID" serializeAs="String">
                <value>ForexUser</value>
            </setting>
            <setting name="MySqlPWD" serializeAs="String">
                <value>MakeSomeMoney</value>
            </setting>
            <setting name="MySqlServerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>127.0.0.1:3303</string>
                        <string>chucksgateway:3303</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PrimaryCurrencyList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>USD</string>
                    </ArrayOfString>
                </value>
            </setting>
        </InvestmentApps.DataGenerators.ForexMasterDataGenerator.Properties.Settings>
        <InvestmentApps.ForexMasterDataGenerator.Properties.Settings>
            <setting name="MySqlUID" serializeAs="String">
                <value>chuck</value>
            </setting>
            <setting name="MySqlPWD" serializeAs="String">
                <value>Ama432</value>
            </setting>
        </InvestmentApps.ForexMasterDataGenerator.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
