<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InvestmentApps.RVIGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InvestmentApps.RVIGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InvestmentApps.RVIGenerator.Properties.Settings>
            <setting name="RVIspan" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LastServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDBname" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTableName" serializeAs="String">
                <value />
            </setting>
        </InvestmentApps.RVIGenerator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><applicationSettings>
        <InvestmentApps.RVIGenerator.Properties.Settings>
            <setting name="ServerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>127.0.0.1:3303</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UID" serializeAs="String">
                <value>ForexUser</value>
            </setting>
            <setting name="PWD" serializeAs="String">
                <value>MakeSomeMoney</value>
            </setting>
        </InvestmentApps.RVIGenerator.Properties.Settings>
    </applicationSettings>
</configuration>
