<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MT4_History_Reader_MySql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MT4_History_Reader_MySql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <MT4_History_Reader_MySql.Properties.Settings>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMSSqlServer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMSSqlDB" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMSSqlTable" serializeAs="String">
                <value />
            </setting>
            <setting name="LastInstance" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimaryCurrencyList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>USD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SecondaryCurrencyList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>GBP</string>
                        <string>CHF</string>
                        <string>AUD</string>
                        <string>NZD</string>
                        <string>EUR</string>
                        <string>CAD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MySqlServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastMySqlServer" serializeAs="String">
                <value>127.0.0.1:3303</value>
            </setting>
            <setting name="LastMySqlDB" serializeAs="String">
                <value>ForexSwing</value>
            </setting>
            <setting name="LastMySqlTable" serializeAs="String">
                <value />
            </setting>
        </MT4_History_Reader_MySql.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MT4_History_Reader_MySql.Properties.Settings>
            <setting name="ServerList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>127.0.0.1:3303</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MySqlUID" serializeAs="String">
                <value>ForexUser</value>
            </setting>
            <setting name="MySqlPwd" serializeAs="String">
                <value>MakeSomeMoney</value>
            </setting>
        </MT4_History_Reader_MySql.Properties.Settings>
    </applicationSettings>
</configuration>
