<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MT4_History_Reader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MT4_History_Reader.Properties.Settings>
            <setting name="LastFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LastDB" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTable" serializeAs="String">
                <value />
            </setting>
            <setting name="LastInstance" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimaryCurrencyList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>USD</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SecondaryCurrencyList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>GBP</string>
                        <string>CHF</string>
                        <string>AUD</string>
                        <string>NZD</string>
                        <string>EUR</string>
                        <string>CAD</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MT4_History_Reader.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
